@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Roboto+Slab&display=swap');


*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: 'Roboto Slab', serif;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2{
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

.header__logo{
    float: left;
    font-size: 100%;
    margin-left: 30px;
}

/* navigation links */
.nav{
    float: right;
}


/* Hero image and cover text */

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image{
    height:600px;
    width: 100%;
    background: url("../BrandingAndReviews/IMG-20230506-WA0011.jpg") no-repeat center center;

    /* Animates zoom effect on loading the page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Colors */
:root {
    --primary-color: #eaeaea; /* Green */
    --secondary-color: #ffc107; /* Yellow */
    --accent-color: #d6a206; /* Red */
    --background-color: #ffffff; /* Light grey */
    --text-color: #181818; /* Dark grey */
}