@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Roboto+Slab&display=swap');


*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: 'Roboto Slab', serif;
    background-color: var(--background-color);
}

/* headings and logo */

h1, h2{
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--text-color);
}
header{
    background-color: var(--primary-color);
}

.header__logo, nav{
    line-height: 75px;
}
.header__logo{
    float: left;
    font-size: 100%;
    margin-left: 30px;
}

/* navigation links */
.nav{
    float: right;
}
.nav__link{
    font-size: 110%;
    letter-spacing: 4px;
    text-decoration: none;
    color: var(--text-color);
    margin-right: 30px;
}

.nav__link:hover{
    border-bottom: 1px solid var(--text-color);
}

.active{
    border-bottom: 1px solid var(--text-color);
}

/* Hero image and cover text */

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image{
    height:600px;
    width: 100%;
    background: url("../images/BrandingAndReviews/IMG-20230506-WA0010.jpg") no-repeat center center;
    background-size: cover;
    /* Animates zoom effect on loading the page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#cover-text {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: var(--cover-background);

    bottom: 30px;
    right: 150px;

    position: absolute;
    
    border: 1px solid var(--accent-color);
}

#cover-text h2,h3{
    color: var(--text-color);
    text-align: center;
    padding-bottom: 10px;
}

#cover-text h2{
    font-size: 120%;
    border-bottom: 1px solid var(--text-color);
}

/* Creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* Statement section */
#statement{
    padding-top: 75px;
    height: 600px;
}
#statement > h2{
    text-align: center;
}
.statement_outer{
    padding-top: 40px;
}
.statement_image_figure{
    float: left;
    width: 50%;
    border: 1px solid var(--accent-color);
    margin-right: 30px;
    margin-left: 30px;
}
#statement-image{
    width: 100%;
}
.statement__inner{
    float: right;
    height: 70%;
    width: 30%;
    margin-right: 100px;
    border: 1px solid var(--accent-color)
}
.statement__text{
    background-color: var(--secondary-color);
  color: var(--text-color);
}
.statement__text h2{
    font-size: 120%;
    border-bottom: 1px solid var(--text-color);
    text-align: center;
}
.statement__text ul{
    
    padding-left: 20px;
    padding-right: 10px;
}
#book_link{
    Color: var(--text-color);
    padding-top: 5%;
    text-align: center;
    float: right;
    height: 70%;
    width: 30%;
    margin-right: 100px;
    text-decoration: none;
}
#book_link p{
    font-size: 150%;
   border: .5px solid var(--accent-color);
    text-align: center;
}

#book_link p:hover{
    border: .5px solid var(--text-color);
    background-color: var(--secondary-color);
}

/* Colors */
:root {
    --primary-color: #262626; /* Green */
    --secondary-color: #2a2a2a; /* Yellow */
    --accent-color: #d6a206; /* Red */
    --cover-background: rgba(47, 47, 47, 0.6); /* black */
    --background-color: #1f1f1f; /* Light grey */
    --text-color: rgb(255, 255, 255); /* Dark grey */
}